div.carousel ul{display: block; border: 0; margin: 15px 0 15px 40px; padding: 0; width: 85%;}

ul.controls li{display: inline;}

.active .slide {
  display: none;
  top: 0;
  left: 0;
  border: none;
}

.slide.current {
    display: block;
    z-index: 500;
    height: 141px;
}

.btn-prev,
.btn-next {
  z-index: 700;
  top: 50%;
  margin-top: -2.5em;
  border:0;
  background: rgba(255,255,255,.6);
  line-height: 1;
  padding:2em .5em;
  transition: padding .4s ease-out;
}

.btn-next:hover, .btn-next:focus,
.btn-prev:hover, .btn-prev:focus {
  padding-left: 2em;
  padding-right: 2em;
}

.btn-prev {
  float: left;
  border-radius: 0 .25em .25em 0;
}

.btn-next {
  right:0;
  border-radius: .25em 0 0 .25em;
  float: right;
}

.slidenav button {
  border: 2px solid #036;
  background-color: #036;
  line-height: 1em;
  height: 2em;
  width: 2em;
  font-weight: bold;
  color: #fff;
}

.slidenav button.current {
  border-radius: .5em;
  background-color: #fff;
  color: #333;
}

.slidenav button:hover,
.slidenav button:focus {
  border: 2px dashed #fff;
}

.slidenav button.current:hover,
.slidenav button.current:focus {
  border: 2px dashed #036;
}

